body{
	background-color: #ffffff;
	/*background-color: #eaecef;*/
}

html{
	min-height:100%;
	position: relative;
}

/* HomePage CSS*/

#Home_pagewrap{
	background-color: #f7f7f7;
	height: 100vh;
	width: auto;
	vertical-align: middle;
	
}

#IntroNameContainer{
	height: auto;
	position: relative;
	text-align: center;
	padding: 0px;

	
}

.IntroName{
	font-size: 100px;
	font-family: 'Poiret One', cursive;
	padding: 0px;
	margin: 0px;

}

.introStatement{
	font-size: 20px;
	font-family: 'Courgette', cursive;	
	color: #6d6d6d;
	text-align: center;
	font-weight: bold;
}

#HomebarRow{
	align-content: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-top:25px;

}

.HomeCol{
	height: 250px;
	width: 24%;
	margin: 5px;
}

.SubjectNameContainer{
	width: auto;
	height: auto;
	position: relative;
	text-align: center;
	vertical-align: middle;
	margin-top: 30%;

}
 
#subjectText{
	font-family: 'Baloo Bhaijaan', cursive;
	color: #f7f7f7;
	font-size: 40px;
}


#First_Col{
	background-color: #155765;
}

#Second_Col{
	background-color: #57652A;
}

#Third_Col{
	background-color: #AB9353;
}

#Fourth_Col{
	background-color: #4D2C3D;

}
