body{
	background-color: #ffffff;
	/*background-color: #eaecef;*/
}

html{
	min-height:100%;
	position: relative;
}

/* HomePage CSS*/

#Home_pagewrap{
	background-color: #f7f7f7;
	height: 90vh;
	width: auto;
	vertical-align: middle;
}

#IntroNameContainer{
	height: auto;
	position: relative;
	text-align: center;
	padding: 0px;

	
}

.IntroName{
	font-size: 600%;
	font-family: 'Poiret One', cursive;
	padding: 0px;
	margin: 0px;

}

.introStatement{
	font-size: 20px;
	font-family: 'Courgette', cursive;	
	color: #6d6d6d;
	text-align: center;
	font-weight: bold;
}

#HomebarRow{
	align-content: center;
	vertical-align: middle;
	padding-top:25px;
}

.HomeCol{
	height: 250px;
	border-color: #ffffff;
	border-style: solid;

}

.SubjectNameContainer{
	width: auto;
	height: auto;
	position: relative;
	text-align: center;
	vertical-align: middle;
	margin-top: 30%;

}
 
.subjectText{
	font-family: 'Baloo Bhaijaan', cursive;
	color: #f7f7f7;
	font-size: 40px;
}


#First_Col{
	background-color: #155765;
}

#Second_Col{
	background-color: #57652A;
}

#Third_Col{
	background-color: #AB9353;
}

#Fourth_Col{
	background-color: #4D2C3D;

}

#endingCredits{
	background-color: #4D2C3D;
}

#HomeScreen{
	background-color: #ffffff;
}

#Home_AboutMe{
	background-color: #f7f7f7;
	height: 90vh;
	width: auto;
	vertical-align: middle;
	border-style: solid;
}

#Home_Portfolio{
	background-color: #f7f7f7;
	height: 90vh;
	width: auto;
	vertical-align: middle;
	border-style: solid;
}

#Home_Skills{
	background-color: #f7f7f7;
	height: 90vh;
	width: auto;
	vertical-align: middle;
	border-style: solid;
}

#Home_Contact{
	background-color: #f7f7f7;
	height: 40vh;
	width: auto;
	vertical-align: middle;
	border-style: solid;
}

.identificationBar{
	border-style: solid;
	background-color: #f7f7f7;
}