.navbar{
	
	height: 50px;
	background-color: #f7f7f7;
}

#sectionHeader{
	height: auto;
	margin: auto;
	text-align: center;
	vertical-align: middle;
	width:50%;
}

.sectionText{
	font-size: 40px;
	font-family: 'Khula', sans-serif;
}

#TextCol_One{
	color: #155765;
}

#TextCol_Two{
	color: #57652A;
}

#TextCol_Three{
	color: #AB9353;
}

#TextCol_Four{
	color: #4D2C3D;

}

#AboutMe{
	background-color: #ffffff;
	height: 75vh;
}

#Portfolio{
	background-color: #ffffff;
	height: 75vh;
}

#Skills{
	background-color: #ffffff;
	height: 75vh;
}

#Contact{
	background-color: #ffffff;
	height: 75vh;
}


#footer{
	background-color: #4D2C3D;
	height: 150px;
}

#endingCredits{
	text-align: center;
	color: #ffffff;

}


