.navbar{
	overflow: hidden;
	background-color: #f7f7f7;
	position: fixed;
	top: 0;
	width: 100%;
}


#sectionHeader{
	height: auto;
	text-align: center;
	vertical-align: middle;
	
}

.sectionText{
	font-size: 40px;
	font-family: 'Khula', sans-serif;
}

#TextCol_One{
	color: #155765;
}

#TextCol_Two{
	color: #57652A;
}

#TextCol_Three{
	color: #AB9353;
}

#TextCol_Four{
	color: #4D2C3D;

}

#AboutMe{
	background-color: #ffffff;
	height: 100vh;
	margin-top: 50px;
}

#Portfolio{
	background-color: #ffffff;
	height: 100vh;
	margin-top: 50px;
}

#Skills{
	background-color: #ffffff;
	height: 100vh;
	margin-top: 50px;
}


#footer{
	background-color: #4D2C3D;
	text-align: center;
	padding: 40px 0px;
}

#endingCredits{
	text-align: center;
	color: #ffffff;
	
}


