<!DOCTYPE html>
<html lang="en">
  <head>
 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Annie Nguyen Skills webpage">


    <title>Skills</title>

    <!-- Bootstrap Core CSS -->
    <link href="../Css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../Css/section.css" rel="stylesheet">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Courgette|Khula:800|Poiret+One" rel="stylesheet">

  </head>
  
	<body>

	<!--Navigation Bar -->

	<div>
		<nav class = "navbar">
			NAVBAR
		</nav>
	</div>
	<!--Section Page-->

	<section id = "Skills">
		<div class = "container">
			<div id = "sectionHeader">
				<p class = "sectionText" id = "TextCol_Three">Skills</p>
			</div>
		</div>
	</section>

	<footer id = "footer">
		<div class = "container" id = "endingCredits">
				<p> Annie Nguyen  &copy; 2017 </p>
		</div>
	</footer>
	
<!--JavaScript: custom-->
 <script src="Js/customscript.js"></script>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<!--Popper.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>


<!--Bootstrap JS-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	</body>
</html>

